body {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin: 0;
}

#sidebar {
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}

#content {
    padding: 10px;
    flex: 1;
}

#buttons {
    display: flex;
    flex-direction: column;
}

.sidebar-element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar-icon {
    padding: 5px;
}

.sidebar-icon:hover {
    cursor: pointer;
}

.task-creator {
    display: flex;
    flex-direction: row;
}

#task-container {
    display: flex;
    flex-direction: column;
}

.task {
    display: flex;
    border: 2px solid black;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    align-items: center;
    gap: 5px;
}

#form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    width: 300px;
    height: 30px;
    border-radius: 8px;
    font-size: 16px;
    border: 2px solid black;
}

#submit-task:hover {
    cursor: pointer;
}